.dashboard{
    opacity: 100%;
    background-color: rgb(75, 72, 72);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vmin);
    color: white;
  }