.node-layout {
    display: flex;
    flex-direction: row;
    width: calc(99.9%);
    height: calc(8vmin);
    border-radius: calc(4vmin);
    border: calc(0.1vmin) solid black;
    margin-bottom: calc(1vmin);
    color: black;
    background-color: rgb(173, 171, 171);
}

.node-layout:hover {
    background-color: rgb(101, 104, 102);
}

span {
    width: calc(25%);
}

.button {
    width: calc(8%);
    text-align: center;
}

.college-name, .tuition, .ranking, .deadlines, .location {
    font-family: 'Lato';
    width: calc(100%);
    font-size: calc(2.5vmin);
    text-align: center;
}

.remove-button {
    width: calc(100%);
    height: calc(100%);
    padding: calc(1.3vmin);
    font-size: calc(1.8vmin);
    border-radius: 0px calc(4vmin) calc(4vmin) 0px;
    border: none;
    color: rgb(173, 171, 171);
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    background-color: Transparent;
}

.remove-button:hover {
    background-color: rgba(163, 47, 47, 0.747);
}
