  #students {
    text-align: center;
    font-family: "Montserrat";
    border-collapse: collapse;
    width: 100%;
  }
  
   #students th {
    border: none;
    padding: calc(1vmin);
    color: black;
  }
  
  #students th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    opacity: 100%;
    background-color: green;
    color: white;
  }