  .table-header {
    text-align: center;
    font-family: "Montserrat";
    border-collapse: collapse;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 20);
    margin-bottom: calc(1.5vmin);
    color: rgb(206, 198, 198);
  }

h1 {
  font-family: 'Lato';
  width: calc(100%);
  font-size: calc(3vmin);
  text-align: center;
}

.header {
  width: calc(25%);
}

.button-divide {
  width: calc(8%);
}