# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

# npm install modules
node_modules

# pyc files
api.pyc
*.pyc

# Bash source for setting up the environmental variables
.bash-source
bashsource.ps1

# Virtual environment used for running the project locally
venv

# .flaskenv allows for running locally
# .flaskenv
firebase.py