@import url("https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400&display=swap");

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Palanquin Dark', sans-serif;
}

.headers {
    position: relative;
    background-color: #f3f3f8;
    color: rgb(10, 10, 15);
    height: calc(8.5vh);
    width: calc(85vw) !important;
    border-radius: calc(1.1vmax);
    display: flex;
    font-size: calc(1.1vw);
    flex-direction: row;
    align-items: center;
}

.individual-table {
    position: relative;
    height: calc(17.5vh);
    width: calc(85vw) !important;
    border-color: transparent;
    border-bottom-color: #e6e6e6;
    border-style: solid;
    border-width: calc(.2vh);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Mukta', sans-serif;
}

.name-position:hover{
    cursor: pointer;
}

.other-position:hover{
    cursor: pointer;
}

.name-position {
    position: relative;
    left: calc(2.5vw);
    width: calc(30vw);
    color: #4b4b4b;
}

.other-position {
    width: calc(11.5vw) !important;
    padding-right: calc(3vw);
    color: #969696;
}

.other-position-edit {
    width: calc(11.5vw) !important;
    padding-right: calc(3vw);
    color: #969696;
    font-size: calc(.75vw);
}

.other-position:hover {
    color: #4b4b4b;
    cursor: pointer;
}

.other-position-table {
    width: calc(10vw) !important;
    color: #969696;
}

.trashcan {
    margin-left: calc(2.75vw) !important;
}  

.logo-table {
    margin-left: calc(3vh) !important;
    margin-top: calc(1vh) !important;
    height: calc(10vh) !important;
    width: calc(10vh) !important;
}

.name-position-logo {
    position: relative;
    left: calc(2.25vw);
    width: calc(19.5vw);
    padding-right: calc(5vw);
    color: #4b4b4b;
}

.icon {
    font-family: 'Palanquin Dark', sans-serif;
    margin-left: calc(-1vw);
    width: calc(6.5vw);
    height: calc(2vw);
    border-radius: calc(1vw);
    color: rgb(25, 25, 25);
    font-size: calc(.9vw);
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.fade-table{
    opacity: .15;
}