@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");

.titleheader{
    width: calc(100%);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    height: calc(13vh);
}

.title{
    padding-left: calc(1vw);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sidebar{
    margin-left: calc(0vw);
    width: calc(20vw);
    min-width: calc(20vw);
    padding-top: calc(3vh);
    display: flex;
    background-color: rgb(243, 243, 243);
    flex-direction: column;
    border-top-right-radius: calc(1rem);
    border-bottom-right-radius: calc(1rem);
    box-shadow: 4px 4px 14px grey;
    min-height: calc(92vh);
    height: auto;
    text-align: center;
    align-items: center;
}

.general-tab {
    margin-top: calc(4vh);
}

.general-tab, .supplemental-tab {
    width: 90%;
    border: none;
    border-left: none;
    background-color: rgb(243, 243, 243);
    font-size: calc(1.3vw);
    transition: 0.3s;
}

.general-tab:hover, .supplemental-tab:hover {
    transition: 0.3s;
    background-color: #313b4c;
    color: white;
    width: 90%;
    border-radius: calc(1vh);
}

.supplemental-tab {
    margin-top: calc(2vh);
}

.active-side {
    margin-top: calc(4vh);
    width: 90%;
    border: none;
    border-left: none;
    font-size: calc(1.3vw);
    background-color: #313b4c;
    border-radius: calc(1vh);
    color: white
}

.active-side-sup {
    width: 90%;
    border: none;
    border-left: none;
    font-size: calc(1.3vw);
    background-color: #313b4c;
    border-radius: calc(1vh);
    color: white;
    margin-top: calc(2vh);
}

.general-tab:focus, .supplemental-tab:focus, .active-side:focus, .active-side-sup:focus {
    outline: 0;
}

.essays-loadout {
    display: inline-flex;
    flex-direction: row;
}

.essay-prompts {
    width: 95%;
    margin-left: calc(1vw);
    padding-bottom: calc(2vh);
}

.render-essays-div {
    width: calc(100%);
    margin-top: calc(2vh);
}

.render-essays {
    display: grid;
    grid-template-columns: calc(33.3%) calc(33.3%) calc(33.3%);
}

.popup{
    text-align: left;
    padding-left: calc(0vw);
    margin-right: calc(1vw);
}

.btn {
    margin-top: calc(3.3vh) !important;
}


.header-text{
    font-family: 'Roboto','sans-serif';
    font-weight: 400;
    color: white;
}

.required{
    text-align: left;
    padding-top: calc(1vh);
    padding-left: calc(1vw);
    font-family: 'Roboto', sans-serif;
    font-weight:lighter;
    margin-bottom: calc(5vh);
}

h3.required-text{
    font-family: 'Roboto',sans-serif;
    font-size: calc(1.6vw);
    font-weight: 400;
}

.subtitle{
    padding-left: calc(3vw);
    padding-top: calc(1vh);
    font-family: 'Roboto', sans-serif;
}

.essaytext{
    padding-left: calc(6vw);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
    padding-right: calc(20vw);
}

.supplementaltext{
    /* padding-top: calc(0.225vh);
    padding-left: calc(6vw);
    padding-right: calc(20vw); */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: normal;
}

.icon-background {
    background-color: #313b4c;
    margin-top: calc(3.8vh);
    width: calc(1.5vw);
    height: calc(3vh);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: calc(50%);
}

/* STYLING THE TEXT FOR WHEN THE USE HAS NO COLLEGES ADDED */

.empty-div {
    width: calc(100%);
    display: flex;
    justify-content: center;
    height: calc(80vh);
    font-family: 'Roboto', sans-serif;
    color:black;
}

.redirect-div {
    width: 100%;
    text-align: center;
    margin-top: calc(15%);
    color: black;
}

.explore-redirect {
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    color: rgba(0, 0, 0, 0.534);
}

.signup-redirect {
    margin-top: calc(1.2vh);
    padding: calc(1vh);
    padding-right: calc(1vw);
    padding-left: calc(1vw);
    border: none;
    border-left: none;
    font-size: calc(1rem);
    border-radius: calc(0.5vh);
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(63, 81, 181);
    transition: 0.3s;
    color: white;
    outline: none;
}

.signup-redirect:hover {
    background-color: rgb(50, 71, 187);
    color: white;
    transition: 0.3s;
}

.signup-redirect:focus {
    outline: 0;
}


/* STYLING FOR LIST OF COLLEGE NAMES */

.collegelist{
    margin-top: calc(1.1vh);
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(248, 248, 248);
    box-shadow: 4px 4px 10px rgb(155, 154, 154);
    border-radius: calc(0.5vw);
    padding: calc(1vh)
}

.collegelist h2 {
    font-size: calc(1.2vw);
    margin-left: calc(0.5vw);
}

.collegelist ul {
    list-style: circle;
    
}

.collegelisttext{
    padding-top:calc(0.3vh);
}