@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap");


.Explore {
    color: black;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.filter-name {
    text-align: left;
    padding-bottom: calc(0.2rem);
    padding-top: calc(0rem);
    font-family: 'Roboto', sans-serif;
    font-size: calc(2.2vw);
    font-weight: 400;
    margin-top: calc(1.2vh);
    margin-bottom: calc(-1.9vh);
}

.container-div {
    display: flex;
    flex-direction: row;
    margin-top: calc(1.5rem);
}

.filter {
    width: calc(25vw);
    margin-left: calc(1vw);
    margin-top: calc(-1vh);
    position: relative;
}

.clear-filters button {
    position: absolute;
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: 'Noto Sans JP', sans-serif;
    /*input has OS specific font-family*/
    color: rgb(63, 81, 181);
    text-decoration: underline;
    cursor: pointer;
    top: calc(2.7vh);
    right: 0;
    transition: 0.3s;
}

.clear-filters button:hover {
    transition: 0.3s;
    color: rgb(216, 39, 32);
}

.clear-filters button:focus {
    outline: 0;
}


.tuition {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.header {
    width: calc(40%);
    text-align: left;
    font-size: calc(0.9vw);
    white-space: nowrap;
    position: relative;
    top: calc(0.3vh);
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin-left: calc(0.5rem);
}

.filter-form {
    width: 100%;
    float: right;
    position: relative;
    bottom: calc(0.3rem);
    outline: none;
    margin-left: calc(0.7vw);
}

.filter-form input {
    font-family: 'Noto Sans JP', sans-serif;
    width: calc(33%);
    font-size: inherit;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-top: calc(0.2rem);
}

.clear-filter-icon {
    position: absolute;
    right: calc(1.5vw);
}

.clear-filter-icon-dd {
    position: absolute;
    right: calc(1.5vw);
    top: calc(0.7vh);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]
{
    font-size:calc(1rem);
    -moz-appearance: textfield;
}

.oos-tuition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: calc(0.4rem);
    margin-bottom: 0;
    margin-top: calc(0.5rem);
}

.oos-tuition h4 {
    font-size: calc(1.3vh);
}

.checkbox {
    margin-top: 0;
    margin-right: calc(0.4rem);
}

span {
    margin-left: calc(0.6rem);
    margin-right: calc(0.6rem);
}

.app-type {
    margin-top: calc(0.75rem);
    display: flex;
    flex-direction: row;
    position: relative;
}

.school-type {
    margin-top: calc(1rem);
    display: flex;
    flex-direction: row;
    position: relative;
}

.filter-type {
    width: 100%;
    margin-bottom: calc(0.6rem);
    outline: none;
}

.dropdown-div {
    width: calc(100%);
}

.dropdown-main {
    width: calc(89%);
}

.dropdown-name {
    margin-left: calc(0.3rem);
    font-family: 'Noto Sans JP', sans-serif;
}

.app-type select {
    outline: none;
    width: 40%;
}

.school-type select {
    outline: none;
}

.filter-button-div {
    width: 100%;
    text-align: center;
    margin-top: calc(0rem);
}

.filter-button {
    border: none;
    border-left: none;
    height: calc(2.5rem);
    width: calc(5.5rem);
    font-size: calc(1rem);
    border-radius: calc(0.5vh);
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgb(63, 81, 181);
    transition: 0.3s;
    color: white;
    outline: none;
}

.filter-button:hover {
    background-color: rgb(50, 71, 187);
    color: white;
    transition: 0.3s;
}

.content-display {
    width: calc(100%);
}

.filter-clear { 
    width: calc(65%);
    margin-left: calc(5%);
    margin-top: calc(-0.3vh);
    outline: none;
}

.topbar-info {
    display: flex;
    flex-direction: row;
    width: calc(100%);
    justify-content: left;
}

.float-display {
    width: calc(30vw);
    display: flex;
    flex-direction: row;
    margin-right: calc(1rem);
    margin-top: calc(-0.5vh);
    margin-bottom: calc(1vh);
}

.sort-by {
    width: calc(25vw);
    z-index: 10;
    margin-right: calc(2vw);
}

.order-by {
    width: calc(15vw);
    z-index: 10;
}

.filter-type {
    display: flex;
    flex-direction: row;
    height: calc(1.8rem);
    border: 1px solid black;
}

.filter-span {
    font-size: calc(1.3rem);
    margin-right: calc(0.5rem);
    outline: none;
    font-family: 'Noto Sans JP', sans-serif;
}

.button {
    margin-left: calc(1rem);
    width: calc(9rem);
    font-size: calc(1.3rem);
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    outline: none;
    border-radius: calc(0.5vh);
}

.button:hover {
    transition: 0.3s;
    background-color: #d5d6d8;
}

select {
    width: calc(40%);
}

.ListColleges {
    width: 100%;
    margin-left: calc(0rem);
    display: grid;
    grid-template-columns: calc(25%) calc(25%) calc(25%) calc(25%);
    margin-left: calc(0rem);
}

.ListColleges li {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-top: calc(0.7vh);
    margin-left: calc(-0.5rem);
}

.filter-applied {
    margin-left: calc(0.9rem);
    width: 100%;
    display: flex;
    flex-direction: row;
}

.icon-delete {
    margin-left: calc(0.2rem);
}

.state-name {
    margin-left: calc(0.3rem)
}

.results-div {
    width: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(13rem);
}

.icon-results {
    transform: scale(4);
    color: rgb(240, 31, 16);
}

.no-results {
    font-family: 'Noto Sans JP', sans-serif; 
    font-size: calc(1.7vw);
}

.error-message h1 {
    color: red;
    font-size: calc(1.2vw);
    font-family: 'Noto Sans JP', sans-serif; 
}

.error-message {
    margin-top: calc(-2.1vh);
}

.results-div h1 {
    margin-top: calc(1.5rem);
}

.spinner-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.spinner-div {
    width: calc(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    -webkit-transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    transform: scale(2) !important;
    margin-top: calc(20rem);
}

.filter-toggle {
    display: none;
    width: calc(11vw);
    height: calc(7vh);
}

@media screen and (max-width: 767px) {
    .Explore {
        width: 100%;
        height: auto;
    }
    
    .filter-toggle { 
        display: block;
        position: fixed;
        right: calc(2vw);
        bottom: calc(1vh);
        z-index: 3;
        border: none;
        color: white;
        font-weight: 900;
        background-color: #313b4c;
        border-radius: calc(25px);
        overflow-x: hidden;
    }

    .filter-toggle:focus {
        outline: 0;
    }

    .filter {
        display: none;
        width: 100%;
        z-index: 2;
        position: absolute;
        top: calc(9.2vh);
        left: 0;
        background-color: white;
        margin-left: calc(0.5rem);
        overflow-x: hidden;
    }

    .ListColleges {
        width: 100%;
        display: grid;
        grid-template-columns: calc(52%) calc(52%);
        margin-left: calc(-0.5rem);
        overflow-x: hidden;
    }

    .ListColleges li {
        width: 100%;
        overflow-x: hidden;
    }

    .explore {
        width: 100%;
        overflow-x: hidden;
    }

    .tuition {
        width: 80%;
        overflow-x: hidden;
    }

    .app-type, .school-type {
        width: 80%;
        overflow-x: hidden;
    }

    .sort-by {
        width: 100%;
        z-index: 10;
    }

    .button {
        font-size: calc(3.5vw);
    }

    .filter-clear {
        width: calc(30%);
    }

    .filter-clear button {
        margin-top: calc(0.5vh);
        font-size: calc(3vw);
    }

    .float-display {
        width: calc(80vw);
        display: flex;
        flex-direction: row;
        margin-right: calc(0.5rem);
        margin-top: calc(-0.5vh);
        margin-bottom: calc(1vh);
    }

    .header {
        font-size: calc(3.5vw);
    }
}