@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Archivo:wght@500&family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');


.Background-home-page {
  width: 100%;
  overflow: hidden;
}

.image-background {
  background-image: url('../pages/wp2017235.jpg');
	background-position:center;
	background-repeat:no-repeat;
  background-size:cover;
  height: calc(45rem);
}

.navbar-home {
  width: 100%;
  font-family: "Segoe UI", BlinkMacSystemFont;
}

/* .nav {
  background-color: rgba(0, 0, 0, 0.452) !important;  
}

.nav .nav-link {
  color: white !important;
  padding-top: calc(0.7rem) !important;
  padding-bottom: calc(0.7rem) !important;
  font-family: 'Montserrat', sans-serif;
}

.nav .nav-link:hover {
  color: rgb(0, 0, 0) !important;
} */

.features-container {
  width: 75%;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: calc(2rem);
  margin: auto;
}

.features {
  height: calc(35rem);
  width: 100%;
}

.searchbar-home {
  margin-top: calc(2vh);
  width: calc(100%);
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: "Segoe UI";
}

.searchbar-container{
  width: 100%;
  min-width: calc(90vw);
}

.features .row {
  margin-top: calc(5.5rem) !important;
}

.features .header-h1 {
  margin-top: calc(4rem) !important;
  font-size: calc(3rem) !important;
  font-weight: bold;
  font-family: 'Verdana', sans-serif;
}

.row {
  font-size: calc(3rem) !important;
}

.header-div {
  display: flex;
  flex-direction: row;
  margin-bottom: calc(-2rem);
}

.header-feature {
  margin-top: calc(2rem);
  font-size: calc(2rem);
  width: calc(33.333333%);
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Oswald', sans-serif;
}

.icon-border {
  display: flex;
  justify-content: center;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.3s;
}

.icon-border div {
  background-color: rgb(11, 147, 192);
  width: auto;
  border-radius: calc(60%);
  display: flex;
  justify-content: center;
  padding: calc(1rem);
  box-shadow: calc(3px) calc(3px) calc(10px) grey; 
}

.description-hover p {
  font-size: calc(1.3rem);
  margin-top: calc(3rem);
  font-family: 'Karla', serif;
}

.image-background .container {
  margin-top: calc(6rem) !important;
  background-color: rgba(0, 0, 0, 0.205) !important;
  color: white !important;
}

.btn {
  margin-top: calc(2.5rem) !important;
  margin-bottom: calc(2rem) !important;
  background-color: rgb(11, 147, 192) !important;
  border: none !important;
  color: black !important;
  font-family: 'Oswald', sans-serif;

}

.contact-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact {
  margin-top: calc(1.5rem);
  background-image: url('../pages/rooftopping-san-francisco-bay-area.jpg');
  background-position:center;
	background-repeat:no-repeat;
  background-size:cover;
  height: calc(30rem);
  width: calc(98%);
  text-align: center;
  box-shadow: calc(3px) calc(3px) calc(10px) grey; 
}

.contact h1{ 
  font-size: calc(3rem);
  margin-top: calc(2rem);
  color: white;
  font-family: 'Oswald', sans-serif;

}

