
.Login, .Signup {
  text-align: left;
  height: calc(100vmin);
  width: calc(100%);
  color: white;
  background-color: rgb(48, 45, 45);
}

.credentials {
    height: calc(50vmin);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: calc(20vmin);
}

h1 {
    text-align: center;
    width: 100%;
    font-size: calc(6vmin);
}

.email-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.email, .password {
    border-radius: 20px;
    width: calc(80vmin);
    height: calc(5vmin);
    font-size: calc(2vmin);
    font-weight: 400;
    text-indent: calc(3vmin);
    text-align: left;
    cursor: text;
    border-color: white;
    margin-top: calc(5%);
    border: none;
}

.password {
    margin-top: calc(2%);
}

.login-button-div {
    margin-top: calc(4%);
    padding-bottom: calc(6vmin);
}

.login-button {
    display: block;
    width: calc(23vmin);
    border-radius: 20px;
    border: none;
    text-align: center;
    padding-top: calc(1vmin);
    padding-bottom: calc(1vmin);
    background-color: white;
    opacity: 90%;
    font-size: calc(2vmin);
}

.login-button:hover {
    background-color: rgb(177, 171, 171);
}

.google-login-divide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;   
    width: 100%;
    height: calc(10vmin);
}

h2 {
    width: calc(7vmin);
    margin-top: 0px;
    text-align: center;
    font-size: calc(4vmin);
}

hr {
    border: 0;
    width: calc(42vmin);
    color: blue;
    background-color: white;
    height: calc(3px);
    margin-bottom: calc(4vmin);
  }

  .lineone {
      margin-right: calc(7vmin);
  }

  .linetwo { 
      margin-left: calc(7vmin);
  }

  .google-button {
      margin-top: calc(2%);
  }