.mapview-container {
    width: 100%;
    max-height: calc(50vh);
}

.mapview {
    max-height: calc(92vh);
    height: auto;
    position: relative;
}

.key-div {
    position: absolute;
    right: calc(4vw);
    top: calc(8.5vh);
    background-color: rgb(245, 245, 245);
    color: black;
    padding: calc(1vh);
    border-radius: calc(1rem);
}

.key-div section {
    display: flex;
    flex-direction: row;
}

.key-div section img {
    max-height: calc(4vh);
}

.key-div section p {
    margin-top: calc(1vh);
}

.college-display {
    margin-top: 0;
    width: calc(22%);
    min-height: calc(92vh);
    border-radius: calc(1vh);
    position: absolute;
    box-shadow: calc(4px) calc(4px) calc(10px) rgb(24, 23, 23); 
}

.map-search {
    width: 100%;
    position: absolute;
    left: calc(0.5vw);
    top: calc(1vh);
    
    z-index: 10;
}

.img-section {
    width: 100%;
}

.img-section img {
    max-width: calc(25vw);
    height: calc(30vh);
    min-height: calc(27vh);
    max-height: calc(33vh);
    object-fit: cover;
    position: relative;
}

.heart-location {
    position: relative;
}

.college-add-icon {
    position: absolute;
    right: calc(0.7vw);
    top: calc(0.9vh);
    transform: scale(1.7);
}

.reset-map{ 
    position: absolute;
    z-index: 5;
    left: calc(23vw);
    top: calc(1.2vh);
    background-color: rgb(63, 81, 181);
    border-radius: calc(0.4rem);
    padding: calc(0.8vh);
    transition: 0.2s;
}

.reset-button {
    border: none;
    border-left: none;
    background: none;
    color: white; 
}

.reset-button:focus {
    outline: 0
}

.reset-map:hover {
    transition: 0.2s;
    background-color: rgb(50, 71, 187);
}

.individual-redirect {
    border: none;
    border-left: none;
    border-radius: calc(0.4vw);
    padding: calc(0.6vw);
    background-color: rgb(63, 81, 181);
    color: white;
    transition: 0.3s;
    box-shadow: calc(4px) calc(4px) calc(10px) rgb(110, 109, 109); 
}

.individual-redirect:hover {
    background-color: rgb(50, 71, 187);
    color: white;
    transition: 0.3s;
}

.college-information {
    margin-top: calc(3vh);
    text-align: center;
    position: relative;
    font-family: 'Noto Sans JP', sans-serif;
}

.college-name {
    width: calc(90%);
    font-size: calc(1.1vw);    
}

.college-information h3 {
    font-size: calc(0.8vw);
    text-align: left;
    margin-left: calc(1.1vw);
}

.college-information hr {
    width: calc(95%);
    color: rgb(0, 0, 0);
}

.college-info-container{ 
    display: flex;
    flex-direction: row;
    margin-top: calc(4vh);
}

.college-info-header {
    width: 55%;
    text-align: left;
    padding-left: calc(1.2vw);
}

.college-info-values {
    text-align: left;
}

.college-info-container h2{
    font-size: calc(0.9vw);
    margin-top: calc(0.5vh);
    margin-bottom: calc(2vh);
}

/* For when there is no colleges on the side tab */
.empty-list {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: calc(70%);
}

.empty-text {
    width:80%;
}

.empty-list p {
    width: 100%;
    color: grey;
    font-size: calc(1.2vw);
    font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width: 767px) {
    .college-display {
        display: none;
    }

    .college-display-mobile {
        position: relative;
    }

    .map-render {
        width: 100% !important;
    }

    .map-search {
        position: relative;
        z-index: 1;
        margin-left: calc(-5vh);
    }

    .reset-map {
        position: absolute;
        left: calc(64%);
        top: calc(54vh);
    }

    .college-display-mobile {
        position: absolute;
        bottom: 0;
        margin-bottom: calc(-1vh);
        background-color: rgb(255, 255, 255);
        width: calc(100%);
        height: calc(70vw);
        z-index: 2;
    }

    .img-section-mobile img {
        max-height: calc(19vh);
    }

    .college-information-mobile h3 {
        margin-left: calc(2vw);
        font-size: calc(4vw);
    }

    .college-name-mobile {
        margin-left: calc(2vw);
        font-size: calc(6vw);
    }

    .individual-redirect-mobile {
        border: none;
        border-left: none;
        border-radius: calc(0.4vw);
        padding: calc(1vw);
        background-color: rgb(63, 81, 181);
        color: white;
        transition: 0.3s;
        box-shadow: calc(4px) calc(4px) calc(10px) rgb(110, 109, 109);   
        margin-left: calc(2vw); 
    }

    .heart-location-mobile {
        position: relative;
    }
    
    .college-add-icon-mobile {
        position: absolute;
        right: calc(2.5vw);
        top: calc(-7.5vh);
        transform: scale(1.7);
    }
}