@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

.individual:hover{
    background-color: #b0bed6;
    cursor: pointer;
  }

  /* Styling for the results on the Map tab and Search bar */
  .individual, .map-results {
    position: relative;
    background-color: white;
    height: calc(6.5vh);
    margin-top: 0;
    width: calc(35vw);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #313b4c;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: calc(.03vw);
    z-index: 10;
  }

  .map-results {
    width: calc(95%);
    transition: 0.3s;
  }

  .map-results:hover {
    transition: 0.3s;
    background-color: #b0bed6;
    cursor: pointer;
  }

  .map-collegename {
    font-family: 'Oswald', sans-serif;
    font-size: calc(3vh);
    color: black !important;
    margin-top: calc(1vh) !important;
    z-index: 1;
  }
  
  .heart {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    position: absolute !important;
    right: calc(0.5vw);
    top: calc(.5vh);
  }
  
  /* .redheart {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    position: absolute !important;
    margin-top: calc(5.75vh) !important;
    left: calc(31vw);
  } */

  .collegeName {
    font-family: 'Oswald', sans-serif;
    font-size: calc(3.15vh);
    color: black !important;
    margin-top: calc(1vh) !important;
    position: absolute !important;
    left: calc(10vh) !important;
    z-index: 1;
  }
  
.circle {
  height: calc(5.5vh) !important;
  width: calc(5.5vh) !important;
  border-radius: calc(50%) !important;
  position: absolute !important;
  left: calc(3.5%) !important;
  top: calc(.5vh) !important;
  opacity: 0.7 !important;
  box-shadow: 0 0 5px -2px #888 !important;
  margin-top: calc(0rem) !important;
}

.logo {
  position: absolute !important;
  top: calc(.5vh) !important;
  left: calc(3.5%) !important;
  height: calc(5.5vh) !important;
  width: calc(5.5vh) !important;
}