@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&family=Lato:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.tile-layout {
    display: flex;
    flex-direction: column;
    width: calc(94%);
    height: auto;
    border-radius: calc(1vmin);
    padding-bottom: calc(1.5vh);
    margin-bottom: calc(1vmin);
    color: black;
    background-color: rgb(243, 243, 243);
    box-shadow: calc(3px) calc(3px) calc(10px) grey; 
    transition: 0.3s;
    position: relative;
}

.tile-layout:hover {
    transition: 0.3s;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.center-header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.header-tile {
    width: calc(100%);
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center;
    margin-top: calc(2vh);
}

.college-name {
    text-align: left;
    width: calc(100%); 
    display: inline-block;
}

.college-name h1{
    font-size: calc(1.4vw);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-left: calc(0.5vw);
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.college-icon {
    margin-top: calc(0rem);
    display: block;
    min-width: calc(7vw);
    min-height: calc(10vh);
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: hidden;
    margin-left: calc(0.5vw);
    margin-top: calc(0.4vh);
}

.college-icon img {
    display: block;
    min-width: calc(7vw);
    min-height: calc(10vh);
    width: calc(11vw);
    height: calc(14vh);
}

.specifications {
    text-align: center;
    width: 100%;
    margin-top: calc(1.5rem);
}

.ranking {
    margin-bottom: 0;
    margin-top: calc(-0.6vh);
    height: calc(2.8vh);
    display: flex;
    text-align: right;
    justify-content: left;
    font-size: calc(0.9vw);
    margin-left: calc(0.5vw);   
}

.ranking h3 {
    padding-top: calc(0.6vh);;
    font-size: calc(0.8vw);

}

.specifications hr {
    margin-top: calc(-2vh);
    margin-bottom: calc(1vh);
    width: calc(85%);
    border: 1px solid rgb(204, 202, 202);
}

.specifications h3 {
    font-size: calc(0.9vw);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    margin-left: calc(0.6vw);
}

.tuition-display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: calc(0.7vw);
}

.info-display {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.information-div {
    width: calc(53%);
    text-align: left;
    margin-left: calc(0.7vw);
}

.info-div-number {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.favorite-icon{
    justify-content: right;
    position: absolute;
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
    top: calc(0.7vh);
    right: calc(0.4vw);
    margin-left: 0;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .tile-layout {
        width: calc(97%);
        box-shadow: none; 
        margin-left: calc(0rem);
        background-color: rgb(231, 231, 231);
        margin-top: calc(0.5rem);
        height: auto;
        border-radius: calc(1vh) !important;
    }

    .tile-layout:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        overflow: hidden;
    }

    .specifications h3 {
        font-family: 'Karla', serif;
        font-weight: 900;
    }

    .information-div h3 {
        font-size: calc(3.5vw);
        margin-left: calc(3vw);
        height: calc(3vh);
    }

    .info-div-number h3{
        font-size: calc(3.5vw);
        margin-left: calc(3vw);   
        height: calc(3vh); 
    }

    .college-name {
        width: calc(75%);
    }

    .college-name h1{
        font-size: calc(4vw);
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: bold;
        margin-left: calc(-0.3vw);
    }

    .ranking {
        font-size: calc(2.3vw) !important;
    }

    .college-icon {
        margin-top: calc(0.5vh);
        margin-left: calc(1vw);
        width: 100%;
        height: calc(7vh);
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    .college-icon img {
        display: block;
        min-width: calc(20vw);
        max-height: calc(1vh);
        width: calc(11vw);
    }

    .favorite-icon {
        width: calc(9.5%);
        justify-content: right;
        position: absolute;
        right: calc(2.7vw);
        top: calc(0vh);
        height: 0;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 1;
    }
}


