@import url('https://fonts.googleapis.com/css?family=Font+Name');

.App {
  text-align: left;
  height: calc(100vmin);
  font-family: 'Montserrat', sans-serif;
}

.background {
  background-image: url(./cambridge.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100%);
  opacity: 100%;
}

.App-logo-background {
  width: calc(5%);
}

.App-logo {
  margin-top: calc(0.5vmin);
  margin-left: calc(0.5vmin);
  height: calc(6.5vmin);
  cursor: pointer;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: calc(8vmin);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  background-color: black;
  margin-bottom: calc(0vmin);
  opacity: 80%;
}

.slogan {
  text-align: center;
  padding-left: calc(4vmin);
  font-size: calc(8.2vh);
  padding-bottom: calc(3vmin);
  color: white;
}

.searchbar {
  width: 100%;
  align-items: center;
}

.bar{
  margin-left: calc(19vmin);
  border-radius: 20px;
  width: calc(100% - 35vmin);
  height: calc(40px + 2vmin);
  font-size: calc(7px + 2vmin);
  font-weight: 400;
  text-indent: calc(20px + 2vmin);
  text-align: left;
  cursor: text;
}

.advanced{
  text-align: center;
  padding-left: calc(100% - 42vmin);
  padding-top: calc(1vmin);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
