@import url('https://fonts.googleapis.com/css?family=Font+Name');

.App {
  text-align: left;
  width: calc(100%);
  font-family: 'Lato';
}

.Background-home-page {
  opacity: 100%;
  background-color: rgb(49, 45, 45);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vmin);
}

.searchbar {
  width: 100%;
  text-align: center;
}

.bar{
  margin-top: calc(4vw);
  border-radius: calc(20px);
  width: calc(70vmin);
  height: calc(5.5vmin);
  font-size: calc(2.5vmin);
  font-weight: 400;
  text-indent: calc(3vmin);
  text-align: left;
  cursor: text;
}

.advanced-box {
  width: calc(100%);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.advanced{
  text-align: center;
  margin-left: calc(130vmin);
  font-size: calc(1.5vmin);
  padding-top: calc(1vmin);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.slogan-image {
  width: calc(100%);
  display: inline-block;

}

.slogan, .description-website {
  border: 1px solid white;
  width: calc(40%);
  padding-left: calc(4vmin);
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: calc(1vmin);
  margin-left: calc(1vmin);
}

.slogan-text {
  text-align: left;
  font-size: calc(4.3vmin);
  cursor: default;  
}

.description-website {
  text-align: left;
}

p {
  font-size: calc(2.3vmin);
  cursor: default;  
}
