@import url('https://fonts.googleapis.com/css?family=Font+Name');

.App {
  text-align: left;
  width: calc(100%);
  font-family: 'Lato';
}

.Background-home-page {
  opacity: 100%;
  background-image: url(./cambridge.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vmin);
}

.slogan {
  text-align: center;
  padding-left: calc(4vmin);
  padding-bottom: calc(3vmin);
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: calc(1vmin);
  margin-left: calc(1vmin);
}

.slogan-text {
  font-size: calc(4.3vw);
  cursor: default;  
}

.searchbar {
  width: 100%;
  align-items: center;
}

.bar{
  margin-left: calc(19vmin);
  border-radius: 20px;
  width: calc(100% - 35vmin);
  height: calc(6.5vmin);
  font-size: calc(2.5vmin);
  font-weight: 400;
  text-indent: calc(3vmin);
  text-align: left;
  cursor: text;
}

.advanced{
  text-align: center;
  width: calc(15vmin);
  margin-left: calc(100% - 30vmin);
  padding-top: calc(1vmin);
  color: white;
  font-weight: 700;
  cursor: pointer;
}
